<?xml version="1.0" encoding="UTF-8"?>

<launch>
	<node name="usb_cam" pkg="usb_cam" type="usb_cam_node">
        <param name="video_device" value="/dev/video0" />
        <param name="autoexposure" value="true" />
        <param name="pixel_format" value="yuyv" />
        <param name="camera_frame_id" value="usb_cam" />
        <param name="io_method" value="mmap" />
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="exposure" value="128" />
        <param name="contrast" value="128" /> 	 		
        <param name="saturation" value="128" />
    </node>

	<!--LiDAR VLP-->
	<include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"></include>
	<include file="$(find ku2023)/launch/p_to_laser.launch"></include>

	<!--GPS-->
	<include file="$(find ku2023)/launch/ntrip_ros.launch"></include> 
	<!-- <include file="$(find ku2023)/launch/fake_gps.launch"></include> -->
	<include file="$(find ku2023)/launch/etk_localization.launch"></include>

	<!--IMU-->
	<include file="$(find ku2023)/launch/iahrs_driver.launch"></include>

	<!-- Nodes -->
	<node pkg="ku2023"  type="heading_calculator_iahrs.py" name="headingCalculator" respawn="true" />
	<node pkg="ku2023"  type="gnss_converter.py" name="gnssConverter" respawn="true"  />
	<node pkg="ku2023" type="lidar_converter.py" name="lidarConverter" respawn="true"/>
	<node pkg="ku2023" type="autonomous_full.py" name="autonomous" output="screen"/>
	<node pkg="ku2023" type="serial_node.py" name="ARDUINO" args="/dev/ttyARDUINO" respawn="true"/> 
	<!-- ardurino -->

	
	<!-- Visualization -->
	<node pkg="rviz" type="rviz" name="rviz_auto" args="-d $(find ku2023)/rviz/rviz_conf_auto.rviz" />
	<!-- <node name="rqt" pkg="rqt_graph" type="rqt_graph"/> -->
	
	<!-- Record -->
	<!--<node pkg="rosbag" type="record" name="rosbag_record" required="true"  args="-a -o /media/jetson/data/rosbag/"  /> -->

	<!-- Parameters -->
	<rosparam command="load" file="$(find ku2023)/params/lidar_params.yaml"/>
	<rosparam command="load" file="$(find ku2023)/params/full.yaml"/>
	<rosparam command="load" file="$(find ku2023)/params/coordinates.yaml"/>
	
</launch>
